<a href="https://colab.research.google.com/github/tku-junyitu/Introduction-to-Computers/blob/main/0525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
sum = 0
test = int(input('請輸入一個正整數:'))
for n in range(1,test+1):
    sum = sum+n
print('1到',test,'的整數和為',sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

In [3]:
sum = 0
test = int(input('請輸入一個正整數:'))
for n in range(1,test+1):
    sum = sum+n
    print('1到',n,'的整數和為:',sum)

請輸入一個正整數:50
1到 1 的整數和為: 1
1到 2 的整數和為: 3
1到 3 的整數和為: 6
1到 4 的整數和為: 10
1到 5 的整數和為: 15
1到 6 的整數和為: 21
1到 7 的整數和為: 28
1到 8 的整數和為: 36
1到 9 的整數和為: 45
1到 10 的整數和為: 55
1到 11 的整數和為: 66
1到 12 的整數和為: 78
1到 13 的整數和為: 91
1到 14 的整數和為: 105
1到 15 的整數和為: 120
1到 16 的整數和為: 136
1到 17 的整數和為: 153
1到 18 的整數和為: 171
1到 19 的整數和為: 190
1到 20 的整數和為: 210
1到 21 的整數和為: 231
1到 22 的整數和為: 253
1到 23 的整數和為: 276
1到 24 的整數和為: 300
1到 25 的整數和為: 325
1到 26 的整數和為: 351
1到 27 的整數和為: 378
1到 28 的整數和為: 406
1到 29 的整數和為: 435
1到 30 的整數和為: 465
1到 31 的整數和為: 496
1到 32 的整數和為: 528
1到 33 的整數和為: 561
1到 34 的整數和為: 595
1到 35 的整數和為: 630
1到 36 的整數和為: 666
1到 37 的整數和為: 703
1到 38 的整數和為: 741
1到 39 的整數和為: 780
1到 40 的整數和為: 820
1到 41 的整數和為: 861
1到 42 的整數和為: 903
1到 43 的整數和為: 946
1到 44 的整數和為: 990
1到 45 的整數和為: 1035
1到 46 的整數和為: 1081
1到 47 的整數和為: 1128
1到 48 的整數和為: 1176
1到 49 的整數和為: 1225
1到 50 的整數和為: 1275

In [4]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
    k = i+j
    print(j,'*',i,'=',k)

1
1 * 1 = 2
1 * 2 = 3
2
2 * 1 = 3
2 * 2 = 4
3
3 * 1 = 4
3 * 2 = 5
4
4 * 1 = 5
4 * 2 = 6

In [5]:
for j in range(1,6):
  print(j)
  for i in range(1,3):
    k = i+j
    print(j,'*',i,'=',k)

1
1 * 1 = 2
1 * 2 = 3
2
2 * 1 = 3
2 * 2 = 4
3
3 * 1 = 4
3 * 2 = 5
4
4 * 1 = 5
4 * 2 = 6
5
5 * 1 = 6
5 * 2 = 7

In [7]:
for i in range(1,5):
  if(i==4):
    break
  print(i,end = ' ')

1 2 3

In [10]:
count = 0
for string in 'hello!':
  count+=1
  if string =='o':
    break
  print(string)
print('迴圈結束')
print('迴圈執行了%d次'%count)

h
e
l
l
迴圈結束
迴圈執行了5次

In [11]:
count = 0
for string in '測試看看!':
  count+=1
  if string =='看':
    break
  print(string)
print('迴圈結束')
print('迴圈執行了%d次'%count)

測
試
迴圈結束
迴圈執行了3次

In [99]:
for j in range(2,10):
  for i in range(1,10):
    k = j*i
    print(j,'*',i,'=%2d'%(k),end = '  ')
  print()

2 * 1 = 2  2 * 2 = 4  2 * 3 = 6  2 * 4 = 8  2 * 5 =10  2 * 6 =12  2 * 7 =14  2 * 8 =16  2 * 9 =18
3 * 1 = 3  3 * 2 = 6  3 * 3 = 9  3 * 4 =12  3 * 5 =15  3 * 6 =18  3 * 7 =21  3 * 8 =24  3 * 9 =27
4 * 1 = 4  4 * 2 = 8  4 * 3 =12  4 * 4 =16  4 * 5 =20  4 * 6 =24  4 * 7 =28  4 * 8 =32  4 * 9 =36
5 * 1 = 5  5 * 2 =10  5 * 3 =15  5 * 4 =20  5 * 5 =25  5 * 6 =30  5 * 7 =35  5 * 8 =40  5 * 9 =45
6 * 1 = 6  6 * 2 =12  6 * 3 =18  6 * 4 =24  6 * 5 =30  6 * 6 =36  6 * 7 =42  6 * 8 =48  6 * 9 =54
7 * 1 = 7  7 * 2 =14  7 * 3 =21  7 * 4 =28  7 * 5 =35  7 * 6 =42  7 * 7 =49  7 * 8 =56  7 * 9 =63
8 * 1 = 8  8 * 2 =16  8 * 3 =24  8 * 4 =32  8 * 5 =40  8 * 6 =48  8 * 7 =56  8 * 8 =64  8 * 9 =72
9 * 1 = 9  9 * 2 =18  9 * 3 =27  9 * 4 =36  9 * 5 =45  9 * 6 =54  9 * 7 =63  9 * 8 =72  9 * 9 =81

In [88]:
a = int(input('請輸入a的值:'))
b = int(input('請輸入b的值:'))
for k in range(1,a*b+1):
  if (k%a==0 and k%b==0):
    break
print(a,'和',b,'的最小公倍數=%d'%(k))

請輸入a的值:4
請輸入b的值:6
4 和 6 的最小公倍數=12

In [89]:
a = int(input('請輸入a的值:'))
b = int(input('請輸入b的值:'))
for k in range(1,a*b+1):
  if (k%a==0 and k%b==0):
    break
print(a,'和',b,'的最小公倍數=%d'%(k))

請輸入a的值:9
請輸入b的值:15
9 和 15 的最小公倍數=45

In [96]:
a = int(input('請輸入一個正整數:'))
for b in range(1,a+1):
  if (b%5==0):
    continue
  print(b,end = ' ')

請輸入一個正整數:12
1 2 3 4 6 7 8 9 11 12

In [97]:
a = int(input('請輸入一個正整數:'))
for b in range(1,a+1):
  if (b%5==0):
    continue
  print(b,end = ' ')

請輸入一個正整數:21
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21